body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.password_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password_content {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#password_button {
    background-color: #fd533a;
}

#password_display {
    padding: 1px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    min-width: 50%;
    min-height: 30px;
}

.password_content h2 {
    font-style: italic;
}